body {
  background-color: #45494E;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2 {
  text-align: center;
}

form {
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  background-color: #555;
  border-radius: 8px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input, button, canvas {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 4px;
}

button {
  background-color: #69A3B8;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #578A9E;
}

table {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #69A3B8;
}

thead {
  background-color: #69A3B8;
}

tbody tr:nth-child(even) {
  background-color: #555;
}
